[Desktop Entry]
Name=Link to greasyfork.org: Show LCC on WorldCat
Type=Link
URL=https://greasyfork.org/en/scripts/370817-show-lcc-on-worldcat
Icon=text-html
