[Desktop Entry]
Name=Link to github.com/nbeaver/extract-lcc-userscript
Type=Link
URL=https://github.com/nbeaver/extract-lcc-userscript
Icon=text-html
